img {
  display: block;
  max-width: 100%;
  /* height: auto; */
}
.container {
  width: 960px;
  /* margin: 0 auto; */
  margin-left: 8px;
  margin-right: 8px;
}
.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  padding: 16px;
  background: #ffffff;
}
.page-logo {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 700;
  font-size: 24px;
  line-height: 40px;
  letter-spacing: 0.5px;
  color: #f07f2e;
  text-decoration: none;
}
.nav-list {
  display: flex;
  gap: 40px;
}
.nav-link {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
  color: #2c2c2c;
  cursor: pointer;
}
.nav-link:hover,
.nav-link:focus {
  color: #f07f2e;
}

.hero-img {
  display: flex;
  align-items: center;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.hero-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px;
  gap: 8px;
  background: #0f3f3c;
  border-radius: 16px;
}
.hero-title {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 32px;
  line-height: 32px;
  letter-spacing: 1.25px;
  color: #ffffff;
}
.hero-text {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
  color: #ffffff;
}
/**   Section Friends    */
.section {
  margin-top: 60px;
}
.section-title {
  display: flex;
  /* align-items: center; */
  font-weight: 700;
  font-size: 24px;
  line-height: 40px;
  letter-spacing: 0.5px;
  color: #2c2c2c;
}

.friends-list {
  display: flex;
  gap: 40px;
  margin-top: 40px;
}

.friends-link {
  overflow: hidden;
  border-radius: 16px;
}
.friends-link:hover,
.friends-link:focus {
  box-shadow: 0px 4px 4px 0px #00000040;
}

.describe-box {
  padding: 16px 8px 24px 8px;
}
.friends-name {
  margin-bottom: 8px;
}
.friends-text {
  line-height: 1.5;
  letter-spacing: 0.5px;
  color: #2c2c2c;
}

/** Section Gallery */
.gallery-title {
  margin-bottom: 8px;
}
.gallery-text {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
  color: #2c2c2c;
}
.gallery-list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-top: 40px;
}
.gallery-link {
  flex-basis: calc((100% - 5 * 16px) / 6);
  border-radius: 16px;
  overflow: hidden;
}

.gallery-link:hover {
  filter: drop-shadow(0px 4px 16px rgba(0, 0, 0, 0.25));
}

/* footer */
.page-footer {
  background-color: #0f3f3c;
}
