.container {
  width: 960px;
  padding-left: 8px;
  padding-right: 8px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  margin-top: 60px;
}

.section-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 40px;
  letter-spacing: 0.5px;
  color: #2c2c2c;
}

.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  padding: 16px;
  background: #ffffff;
}
.page-logo {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 700;
  font-size: 24px;
  line-height: 40px;
  letter-spacing: 0.5px;
  color: #f07f2e;
  text-decoration: none;
}
.nav-list {
  display: flex;
  gap: 40px;
}
.nav-link {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
  color: #2c2c2c;
  cursor: pointer;
}
.nav-link:hover,
.nav-link:focus {
  color: #f07f2e;
}

.hero {
  position: relative;
  height: 480px;
  background-color: orange;
  border-radius: 16px;
  background-image: url(../images/header-main.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.greeting {
  position: absolute;
  left: 28px;
  bottom: 52px;
  padding: 24px;
  background: #0f3f3c;
  border-radius: 16px;
  width: 432px;
}

.hero-title {
  font-size: 32px;
  line-height: 32px;
  letter-spacing: 1.25px;
  color: #ffffff;
  margin-bottom: 8px;
}
.hero-text {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
  color: #ffffff;
}
/**   Section Friends    */
.cat-list {
  display: flex;
  gap: 40px;
  margin-top: 40px;
}
.friend-link {
  overflow: hidden;
  border-radius: 16px;
}
.friend-link:hover {
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.25);
}
.content {
  padding: 16px 8px 24px 8px;
}
.friends-name {
  margin-bottom: 8px;
}

.friends-text {
  line-height: 1.5;
  letter-spacing: 0.5px;
  color: #2c2c2c;
}

/* .section-text {
  margin-top: 8px;
  line-height: 24px;
  letter-spacing: 0.5px;
  color: #2c2c2c;
}

.cat-list {
  display: flex;
  gap: 40px;
  margin-top: 40px;
}
.cat-list img {
  margin-bottom: 8px;
}
.cat-list li {
  overflow: hidden;
  border-radius: 16px;
}

.cat-list li:hover {
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.25);
}
/* .cat-list img {
  height: 360px;
} */
/* .cat-list .content {
  padding: 16px 8px 24px 8px;
}

.cat-list h3 {
  margin-bottom: 8px;
}

.cat-list p {
  line-height: 1.5;
  letter-spacing: 0.5px;
  color: #2c2c2c;
} */
*/ .friends-list {
  display: flex;

  margin-top: 40px;
  gap: 40px;
}
.friends-link {
  overflow: hidden;
  border-radius: 16px;
  background-color: #ffffff;
}
.friends-link img {
  border-radius: 16px 16px 0px 0px;
  object-fit: cover;
}
.friends-link:hover,
.friends-link:focus {
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
}

.describe-box {
  padding: 16px 8px 24px 8px;
}
.friends-name {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
  color: #2c2c2c;
  margin-bottom: 8px;
}
.friends-text {
  line-height: 1.5;
  letter-spacing: 0.5px;
  color: #2c2c2c;
}

/** Section Gallery */

.gallery {
  margin-bottom: 60px;
}
.gallery-title {
  margin-bottom: 8px;
}
.gallery-text {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
  color: #2c2c2c;
}
.gallery-list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-top: 40px;
}
.gallery-link {
  flex-basis: calc((100% - 5 * 16px) / 6);
  border-radius: 16px;
  overflow: hidden;
}

.gallery-link:hover {
  filter: drop-shadow(0px 4px 16px rgba(0, 0, 0, 0.25));
}

/* footer */

.page-footer {
  padding-top: 48px;
  padding-bottom: 48px;
  background-color: #0f3f3c;
}

.page-footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-text {
  line-height: 24px;
  letter-spacing: 0.5px;
  color: #ffffff;
}
.footer-img {
  margin-bottom: 8px;
}
.social-list {
  display: flex;
  gap: 8px;
}
.social-text {
  line-height: 24px;
  letter-spacing: 0.5px;
  color: #ffffff;
  text-align: right;
  margin-bottom: 8px;
}

.social-path {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.social-icon {
  width: 16px;
  height: 16px;
  fill: #ffffff;
}

.social-path:hover {
  background-color: #ffffff;
}

.social-link .social-path:hover svg {
  fill: #f07f2e;
}
