.container {
  width: 960px;
  padding-left: 8px;
  padding-right: 8px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  margin-top: 60px;
}

.section-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 40px;
  letter-spacing: 0.5px;
  color: #2c2c2c;
}

.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  padding: 16px;
  background: #ffffff;
}
.page-logo {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 700;
  font-size: 24px;
  line-height: 40px;
  letter-spacing: 0.5px;
  color: #f07f2e;
  transition: 0.3s;
}
.page-logo:hover,
.page-logo:focus {
  color: #b26b37;
}
.nav-list {
  display: flex;
  gap: 40px;
}
.nav-link {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.header-link {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
  color: #2c2c2c;
  transition: 0.3s;
}
.header-link:hover,
.header-link:focus {
  color: #f07f2e;
  transition: 0.3s;
}
.hero {
  height: 480px;
}

.hero .container {
  height: 100%;
  position: relative;
}

.hero-list {
  height: 100%;
  position: relative;
}

.hero-item {
  position: relative;
  /* width: 100%; */
  height: 480px;
  background-color: orange;
  border-radius: 16px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}



.hero-item.first {
  background-image: url(../images/header-main-1.jpg);
}

.hero-item.second {
  background-image: url(../images/header-main-2.jpg);
}

.hero-item.third {
  background-image: url(../images/header-main-3.jpg);
}

.greeting {
  position: absolute;
  left: 28px;
  bottom: 52px;
  padding: 24px;
  background: #0f3f3c;
  border-radius: 16px;
  width: 432px;
}

.hero-title {
  font-size: 32px;
  line-height: 32px;
  letter-spacing: 1.25px;
  color: #ffffff;
  margin-bottom: 8px;
}
.hero-text {
  line-height: 24px;
  letter-spacing: 0.5px;
  color: #ffffff;
}

/**   Hero buttons     */
.hero-btn {
  position: absolute;
  top: 30%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  border: none;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.hero-btn.next {
  right: 36px;
}

.hero-btn.prev {
  left: 36px;
}
.hero-btn.prev:hover, .hero-btn.next:hover{background: #F07F2E;}
/**   Section Friends    */
.cat-list {
  display: flex;
  gap: 40px;
  margin-top: 40px;
}
.friend-link {
  overflow: hidden;
  border-radius: 16px;
  transition: 0.3s;
}
.friend-link:hover {
  transition: 0.3s;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.25);
}
.content {
  padding: 16px 8px 24px 8px;
}
.friends-name {
  margin-bottom: 8px;
}

.friends-text {
  line-height: 1.5;
  letter-spacing: 0.5px;
  color: #2c2c2c;
}

.friends-list {
  display: flex;

  margin-top: 40px;
  gap: 40px;
}
.friends-link {
  overflow: hidden;
  border-radius: 16px;
  background-color: #ffffff;
  transition: 0.3s;
}
.friends-link img {
  border-radius: 16px 16px 0px 0px;
  object-fit: cover;
}
.friends-link:hover,
.friends-link:focus {
  transition: 0.3s;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
}

.describe-box {
  padding: 16px 8px 24px 8px;
}
.friends-name {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
  color: #2c2c2c;
  margin-bottom: 8px;
}
.friends-text {
  line-height: 1.5;
  letter-spacing: 0.5px;
  color: #2c2c2c;
}

/** Section Gallery */

.gallery {
  margin-bottom: 60px;
}
.sl-wrapper .sl-image img {
  border-radius: 16px;
}
.gallery-title {
  margin-bottom: 8px;
}
.gallery-text {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
  color: #2c2c2c;
}
.gallery-list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-top: 40px;
}
.gallery-link {
  flex-basis: calc((100% - 5 * 16px) / 6);
  border-radius: 16px;
  overflow: hidden;
  transition: 0.3s;
}

.gallery-link:hover {
  transition: 0.3s;
  filter: drop-shadow(0px 4px 16px rgba(0, 0, 0, 0.25));
}

/* footer */

.page-footer {
  padding-top: 48px;
  padding-bottom: 48px;
  background-color: #0f3f3c;
}

.page-footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-text {
  line-height: 24px;
  letter-spacing: 0.5px;
  color: #ffffff;
}
.footer-img {
  margin-bottom: 8px;
}
.social-list {
  display: flex;
  gap: 8px;
}
.social-text {
  line-height: 24px;
  letter-spacing: 0.5px;
  color: #ffffff;
  text-align: right;
  margin-bottom: 8px;
}

.social-path {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.social-icon {
  width: 16px;
  height: 16px;
  fill: #ffffff;
  transition: 0.3s;
}

.social-path:hover {
  background-color: #ffffff;
  transition: 0.3s;
}

.social-link .social-path:hover svg {
  fill: #f07f2e;
  transition: 0.3s;
}


#myButtonScroll {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #F07F2E;
  color: white;
  cursor: pointer;
 padding:14px 16px 9px 16px;
  
  border-radius: 10px;
  font-size: 18px;
}

#myButtonScroll:hover {
  background-color: rgba(0, 0, 0, 0.3);;
}